*{
	font-family: Comic sans ms;
}
body {

}
.navbar-brand small {
	font-family: Forte;
}
.navbar ul li a{
	font-size: 17px;
}
.form-logo {
	font-size: 200px;
}
.jumbotron a, .form-group a {
	text-decoration: none;
}